@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #EEEEEE;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    width: 100vw;
    overflow-x: hidden;    
}
